# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
context/*
utils/token.json
allure-results/*
allure-report/data/attachments/100680d3e430f93c.zip
/allure-report/data/attachments
/allure-report/data
/allure-report/export
/allure-report
/allure-report/export
/allure-report/widgets
/allure-report
allure-report/data/timeline.json
/allure-report
/allure-report/widgets
