# URL base de la aplicación (UI y API)
BASE_URL=http://localhost:3000

# Usuario de prueba para entrar a la aplicación mmmm
USUARIO_QA=tesinaqa@datalysisgroup.com
PASSWORD_QA=Tesina#2025

# Valores por defecto para filtros en las pruebas
FECHA_MIN=2024-03-01
FECHA_MAX=2024-03-31
EMPRESA_DEFAULT=<nombre_empresa_prueba>
SUCURSAL_DEFAULT=1